<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048498162308-kq30sq5apdh3k08ns0mokmvd6i5kd2cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048498162308-kq30sq5apdh3k08ns0mokmvd6i5kd2cn</string>
	<key>API_KEY</key>
	<string>AIzaSyAznv6mO_iOlbyiJW5vlBd2b9itwbobSus</string>
	<key>GCM_SENDER_ID</key>
	<string>1048498162308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMustafaNito</string>
	<key>PROJECT_ID</key>
	<string>nito-33758</string>
	<key>STORAGE_BUCKET</key>
	<string>nito-33758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048498162308:ios:807063047c59fcc56b50d1</string>
	<key>DATABASE_URL</key>
	<string>https://nito-33758.firebaseio.com</string>
</dict>
</plist>